@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('typography.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FDFDFF;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 50px;
}

header {
  background-color: rgb(255, 255, 255);
  height: 70px;
  width: 100%;
  box-shadow: 0px 0px 20px #A8A8A829;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding-right: 30px
}

header ul li:hover {
  color: #bd310670;
}

.card-template {
  width: 70%;
  padding: 15px 30px;
  background-color: #ffffff;
  border: transparent solid 2px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px #A8A8A829;
  display: flex;
  justify-content: space-evenly;
}

.card-information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-button {
  padding: 8px 16px;
  background-color: #bd3106;
  border: solid transparent 1px;
  border-radius: 8px;
  transition: all .5s ease-in-out;
}

.card-button:hover {
  background-color: #ffffff;
  border: solid #bd3106 1px;
}

.card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-right: 10px;
  margin-right: 10px;
  border-right: #0000003f solid 1px;
}

.card-button a {
    color: #ffffff;
    text-decoration: none;
}

.card-button:hover a {
  color: #bd3106;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px #A8A8A829;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Almarai';
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}

a {
  color: #bd3106;
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media(max-width: 2000px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #FDFDFF;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 50px;
    margin-bottom: 150px;
  }
}

@media(max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #FDFDFF;
  }

  .card-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-image {
    padding-right: 0;
    margin-right: 0;
    border-right: transparent solid 1px;
  }

  .contact {
    display: none;
  }
}